.banner
{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.banner-avatar-photo
{
	border: 1px;
	box-shadow: 3px 3px 10px;
}

.avatar
{
	border-radius: 50px;
	color: red;
	box-shadow: 2px 2px 5px;
}